<h1><%= @dspace_community.name %></h1>
<%= link_to 'Edit', edit_dspace_community_path(@dspace_community.id) %> |
<%= link_to 'Back', dspace_communities_path %>

<p><h3>Parent Community:</h3>
<% unless @dspace_community.parent_community.nil? %>
  <%= link_to @dspace_community.parent_community.name,
  dspace_community_path(@dspace_community.parent_community.id) %>
<% end %>
</p>

<p><h3>Short Description:</h3> <%= @dspace_community.short_description %></p>
<p><h3>Introductory text (HTML):</h3> <%= @dspace_community.introductory_text %></p>
<p><h3>Copyright text (HTML):</h3> <%= @dspace_community.copyright_text %></p>
<p><h3>News (HTML):</h3> <%= @dspace_community.sidebar_text %></p>

<p>
<h3>Collections in this community:</h3>
<%= link_to 'Create Collection',
      new_dspace_collection_path(parent: @dspace_community.id),
      class: 'btn btn-success' %>
<ul>
<% @dspace_community.collections.each do |collection| %>
  <li><%= link_to collection.name, dspace_collection_path(collection.id) %></li>
<% end %>
</ul>
</p>

<p>
<h3>SubCommunities in this community:</h3>
<%= link_to 'Create SubCommunity',
      new_dspace_community_path(parent: @dspace_community.id),
      class: 'btn btn-success' %>
<ul>
<% @dspace_community.sub_communities.each do |community| %>
  <li><%= link_to community.name, dspace_community_path(community.id) %></li>
<% end %>
</ul>
</p>
