<table width="100%" class="table table-hover index-table">
  <thead>
    <tr>
      <th width="5%"></th>
      <th width="25%"></th>
      <th></th>
      <th width="10%"></th>
    </tr>
  </thead>

  <tbody>
    <% dspace_metadata_fields.each do |dspace_metadata_field| %>
      <tr>
        <td><%= dspace_metadata_field.id %></td>
        <td>
          <%= link_to dspace_metadata_field.name,
                  dspace_schema_dspace_metadata_field_path(
                    @dspace_schema.prefix, dspace_metadata_field.id
                  ),
                  title: dspace_metadata_field.name,
                  class: 'btn btn-default object-name-btn' %>
        </td>
        <td><%= dspace_metadata_field.description %></td>


        <td class="action-btns-field">
          <%= link_to edit_dspace_schema_dspace_metadata_field_path(
                        @dspace_schema.prefix,dspace_metadata_field.id
                      ),
                  title: 'Edit',
                  class: 'btn btn-primary' do %>
                  <span class="glyphicon glyphicon-edit"></span>
          <% end %>
          <%= link_to dspace_schema_dspace_metadata_field_path(
                    @dspace_schema.prefix, dspace_metadata_field.id
                  ),
                  title: 'Destroy',
                  method: :delete,
                  data: { confirm: 'Are you sure?' },
                  class: 'btn btn-danger' do %>
                  <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
