<div class="jumbotron">

  <div class="page-header">
    <h1><%= @dspace_metadata_field.name %></h1>
    <% if user_signed_in? %>
      <%= link_to 'Edit', edit_dspace_schema_dspace_metadata_field_path(
                            @dspace_schema.prefix, @dspace_metadata_field.id
                          ) %> |
    <% end %>
    <%= link_to 'Back', dspace_schemas_path %>
  </div>

  <p><h3>Name:</h3> <%= @dspace_metadata_field.name %></p>
  <p><h3>Element:</h3> <%= @dspace_metadata_field.element %></p>
  <p><h3>Qualifier:</h3> <%= @dspace_metadata_field.qualifier %></p>
  <p><h3>Description:</h3> <%= @dspace_metadata_field.description %></p>

</div>
