<h1><%= @dspace_collection.name %></h1>
<%= link_to 'Edit', edit_dspace_collection_path(@dspace_collection.id) %> |
<%= link_to 'Back', dspace_collections_path %>

</br></br>
<%= link_to 'Create Item',
      new_dspace_item_path(parent: @dspace_collection.id),
      class: 'btn btn-success' %>

<p><h3>Short Description:</h3> <%= @dspace_collection.short_description %></p>
<p><h3>License:</h3> <%= @dspace_collection.license %></p>
<p><h3>Introductory text (HTML):</h3> <%= @dspace_collection.introductory_text %></p>
<p><h3>Copyright text (HTML):</h3> <%= @dspace_collection.copyright_text %></p>
<p><h3>News (HTML):</h3> <%= @dspace_collection.sidebar_text %></p>

<p>
<h3>Items in this collection:</h3>
<ul>
<% @dspace_items.each do |dspace_item| %>
  <li><%= link_to dspace_item.name, dspace_item_path(dspace_item.id) %></li>
<% end %>
</ul>
</p>
