<%= simple_form_for :q, url: dspace_reports_item_query_path, method: :get do |f| %>
  <%= f.error_notification %>

  <div class="panel panel-default">

    <div class="panel-heading">
      Metadata Fields Query
    </div>

    <div class="panel-body">
      <div id="metadata-fields">
        <%= render partial: 'metadata_field', locals: {f: f} %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= render partial: 'collections_collapse_form', locals: {f: f} %>
    </div>
    <div class="col-md-6">
      <%= render partial: 'filters_collapse_form', locals: {f: f} %>
    </div>
  </div>

  <%= f.button :submit, 'Search', class: "btn btn-primary" %>
  <%= link_to dspace_reports_item_query_path,
          title: 'Clear',
          class: 'btn btn-danger' do %>
          Clear
  <% end %>

<% end %>
