<%= simple_form_for :q, url: dspace_reports_item_query_path, method: :get do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :collection, collection: @collections %>
    <%= f.input :filters, collection: @filters %>
  </div>

  <div id="poll_choices">
    <%= render partial: 'metadata_field', locals: {f: f} %>
  </div>

  <%= f.button :submit, 'Search', class: "btn btn-primary" %>
  <%= link_to dspace_reports_item_query_path,
          title: 'Clear',
          class: 'btn btn-danger' do %>
          Clear
  <% end %>

<% end %>
