<div class="jumbotron">

  <div class="page-header">
    <h1>Item Query</h1>
  </div>

  <%= render partial: 'item_query_form' %>
  </br></br>
  <%= render partial: 'layouts/page_selection', locals: {objects: @dspace_items} %>
  <%= render partial: 'dspace_items/index_table', locals: {dspace_items: @dspace_items} %>
  <%= render partial: 'layouts/page_selection', locals: {objects: @dspace_items} %>

  <%= console %>

</div>
