<%= simple_form_for :dspace_item, url: url, method: method do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :parent_collection, collection: @parent_options,
        selected: @parent_selected, disabled: false %>
    <%= f.simple_fields_for :metadata do |m| %>
      <% unless @dspace_item.nil? %>
        <% @dspace_item.metadata.each do |metadata| %>
          <%= m.input metadata.key, input_html: { value: metadata.value } %>
        <% end %>
      <% else %>
        <%= m.input 'dc.title' %>
        <%= m.input 'dc.contributor.author' %>
      <% end %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
