<h1>Dspace Items</h1>

<%= link_to 'New Dspace Item', new_dspace_item_path, class: 'btn btn-success' %>
</br></br>
<%= render partial: 'search_form' %>
</br></br>
<%= render partial: 'layouts/page_selection', locals: {objects: @dspace_items} %>

<%= render partial: 'index_table', locals: {dspace_items: @dspace_items} %>

<%= render partial: 'layouts/page_selection', locals: {objects: @dspace_items} %>
