<h1><%= @dspace_item.name %></h1>
<%= link_to 'Edit', edit_dspace_item_path(@dspace_item.id) %> |
<%= link_to 'Back', dspace_items_path %>

<p>
  <%= image_tag get_thumbnail(@dspace_item), class: 'item-thumbnail' %>
</p>

<p><h3>Parent Collection:</h3>
<%= link_to @dspace_item.parent_collection.name,
            dspace_collection_path(@dspace_item.parent_collection.id),
            class: 'btn btn-default' %>
</p>

<p><h3>Author:</h3> <%= get_value_of(@dspace_item.metadata, "dc.contributor.author") %></p>

<p>
<h3>Metadata:</h3>
<ul>
<% @dspace_item.metadata.each do |m| %>
  <li><%= "#{m.key}: #{m.value}" %></li>
<% end %>
</ul>
</p>

<h2>Bitstreams in this item</h2>
<%= link_to 'Create Bitstream',
      new_dspace_bitstream_path(parent: @dspace_item.id),
      class: 'btn btn-success' %>

<ul>
<% @dspace_item.bit_streams.each do |bitstream| %>
  <li>
    <%= link_to bitstream.name,
                dspace_bitstream_path(bitstream.id),
                class: 'btn btn-default' %>
  </li>
<% end %>
</ul>
