<div class="jumbotron">

  <div class="page-header">
    <h1><%= @dspace_item.name %></h1>
    <% if user_signed_in? %>
      <%= link_to 'Edit', edit_dspace_item_path(@dspace_item.id) %> |
    <% end %>
    <%= link_to 'Back', dspace_items_path %>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="thumbnail" >
        <%= image_tag get_image_path(get_thumbnail(@dspace_item)) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        <h3>Parent Collection:</h3>
        <%= link_to @dspace_item.parent_collection.name,
                    dspace_collection_path(@dspace_item.parent_collection.id),
                    class: 'btn btn-default' %>
      </p>

      <p>
        <h3>Author:</h3>
        <%= get_value_of(@dspace_item.metadata, "dc.contributor.author") %>
      </p>

      <p>
        <h3>Metadata:</h3>
        <ul>
        <% @dspace_item.metadata.each do |m| %>
          <li><b><%= m.key %>:</b> <%= m.value %></li>
        <% end %>
        </ul>
      </p>

      <p>
        <h3>Bitstreams in this item:</h3>
        <% if user_signed_in? %>
          <%= link_to 'Create Bitstream',
                new_dspace_bitstream_path(parent: @dspace_item.id),
                class: 'btn btn-success' %>
        <% end %>

        <%= render partial: 'dspace_bitstreams/index_table',
              locals: {dspace_bitstreams: @dspace_item.bit_streams } %>
      </p>

    </div>
  </div>

</div>
