<% unless object_list.nil? || object_list.empty? %>
    <% object_list.each do |obj| %>

        <% if obj.is_a?(Dspace::Community) %>
          <div class="panel panel-default">

            <div class="panel-heading">
              <%= link_to dspace_community_path(obj.id),
                    title: 'View',
                    class: "btn btn-default" do %>
                      <span class="glyphicon glyphicon-eye-open"></span>
              <% end %>

              <%= link_to "##{obj.id.html_safe}",
                title: 'Collapse',
                class: "btn btn-default",
                'data-toggle': "collapse" do %>
                  <span class="glyphicon glyphicon-plus"></span>
                  <%= obj.name %>
                  <span class="badge">
                    <%= obj.collections.size + obj.sub_communities.size %>
                  </span>
              <% end %>
            </div>

            <div class="panel-body collapse" id="<%= obj.id.html_safe %>">

              <%= render partial: 'object_list',
                    locals: {object_list: obj.sub_communities} %>

              <div class="list-group">
                <%= render partial: 'object_list',
                      locals: {object_list: obj.collections} %>
              </div>

            </div>
          </div>
        <% else %>
          <%= link_to obj.name, dspace_collection_path(obj.id),
                class: "list-group-item" %>
        <% end %>

    <% end %>
<% end %>
