<div class="jumbotron">

  <div class="page-header">
    <h1><%= @dspace_schema.prefix %></h1>
    <%= link_to 'Back', dspace_schemas_path %>
  </div>

  <p><h3>Namespace:</h3> <%= @dspace_schema.namespace %></p>

  <p>
    <h3>Metadata Fields:</h3>
    <% if current_user_signed_in? %>
      <%= link_to 'Create Metadata Field',
            new_dspace_schema_dspace_metadata_field_path(@dspace_schema.prefix),
            class: 'btn btn-success' %>
    <% end %>

    <%= render partial: 'dspace_metadata_fields/index_table',
      locals: {dspace_metadata_fields: @dspace_schema.fields } %>
  </p>

</div>
