<h1>Dspace Bitstreams</h1>

<%= link_to 'New Dspace Bitstream', new_dspace_bitstream_path, class: 'btn btn-success' %>
</br></br>
<%= render partial: 'layouts/page_selection', locals: {objects: @dspace_bitstreams} %>

<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dspace_bitstreams.each do |dspace_bitstream| %>
      <tr>
        <td>
          <%= link_to dspace_bitstream.name,
                  dspace_bitstream_path(dspace_bitstream.id),
                  title: dspace_bitstream.name,
                  class: 'btn btn-default' %>
        </td>

        <td>
          <%= link_to edit_dspace_bitstream_path(dspace_bitstream.id),
                  title: 'Edit',
                  class: 'btn btn-primary' do %>
                  <span class="glyphicon glyphicon-edit"></span>
          <% end %>
        </td>

        <td>
          <%= link_to dspace_bitstream_path(dspace_bitstream.id),
                  title: 'Destroy',
                  method: :delete,
                  data: { confirm: 'Are you sure?' },
                  class: 'btn btn-danger' do %>
                  <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: 'layouts/page_selection', locals: {objects: @dspace_bitstreams} %>
