<h1><%= @dspace_bitstream.name %></h1>
<%= link_to 'Edit', edit_dspace_bitstream_path(@dspace_bitstream.id) %> |
<%= link_to 'Back', dspace_bitstreams_path %>

<p><h3>Parent Object:</h3>
<%= link_to @dspace_bitstream.parent_object['name'],
      dspace_item_path(@dspace_bitstream.parent_object['uuid']),
      class: 'btn btn-default' %>
</p>

<p><h3>Name:</h3> <%= @dspace_bitstream.name %></p>
<p><h3>Description:</h3> <%= @dspace_bitstream.description %></p>
<p><h3>Bundle Name:</h3> <%= @dspace_bitstream.bundle_name %></p>

<%= link_to 'Download',
      retrieve_link_of(@dspace_bitstream),
      class: 'btn btn-success' %>
