<h1><%= @item.name %></h1>

<%= image_tag get_item_thumbnail(@item) %>

<p>
Bitstreams:
<ul>
<% get_item_bitstreams(@item).each do |b| %>
  <li>
    <%= link_to b.name, bitstream_path(b.id), target: '_self' %>
  </li>
<% end %>
</ul>
</p>

<table border="1" style="width:70%">
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
      <th>Language</th>
    </tr>
  </thead>
  <tbody>
    <% @item.metadata.each do |m| %>
      <tr>
        <td><%= m.key %></td>
        <td><%= m.value %></td>
        <td><%= m.language %></td>
      </tr>
    <% end %>
  </tbody>
</table>
