<%= simple_form_for(@community) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :copyright_text %>
    <%= f.input :introductory_text %>
    <%= f.input :short_description %>
    <%= f.input :sidebar_text %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
