<nav aria-label="Page navigation">
  <ul class="pagination">

    <!-- FIRST PAGE -->
    <li><%= link_to 'First page', page: "0" %></li>

    <!-- PREVIOUS PAGE -->
    <li class="<%= previsous_page_status(@page) %>">
      <%= link_to '', page: "#{@page - 1}", 'arial-label' => "Previous" do %>
        <span aria-hidden="true">&laquo;</span>
      <% end %>
    </li>

    <!-- PREVIOUS PAGES (NUMBERED)-->
    <% for page in (min_numbered_page(@page))..(@page-1) do %>
      <li><%= link_to page, page: page %></li>
    <% end %>

    <!-- CURRENT PAGE (NUMBERED) -->
    <li class="active"><%= link_to "#{@page}", page: "#{@page}" %></li>

    <!-- NEXT PAGES (NUMBERED)-->
    <% for page in (@page+1)..(max_numbered_page(@page, objects)) do %>
      <li><%= link_to page, page: page %></li>
    <% end %>

    <!-- NEXT PAGE -->
    <li class="<%= next_page_status(objects) %>">
      <%= link_to '', page: "#{@page + 1}", 'arial-label' => "Next" do %>
        <span aria-hidden="true">&raquo;</span>
      <% end %>
    </li>
  </ul>
</nav>
